---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { HOME_TITLE, HOME_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={HOME_TITLE} description={HOME_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="container">
        <div class="text">
          <h1>Desmos Extra Credit Assignment</h1>

          <p>
            In this extra credit assignment, you will be using the graphing
            utility Desmos to write out your name. Go to <a
              href="https://www.desmos.com/calculator"
              target="_blank"
              rel="noopener noreferrer">https://www.desmos.com/calculator</a
            > to start graphing.
          </p>

          <p>
            To see Mr. No's example, go to <a
              href="https://www.desmos.com/calculator/l5yxbyywlc"
              target="_blank"
              rel="noopener noreferrer"
              >https://www.desmos.com/calculator/l5yxbyywlc</a
            >.
          </p>

          <h3>Specifications</h3>

          <ol>
            <li>
              Make a Desmos account. This will allow you to save the graphs you
              create. There is a "Sign Up" button on the top right.
            </li>
            <li>
              You must graph a MINIMUM of 7 letters. If your first name is less
              than 7 letters, you can include some of your last name.
            </li>
            <li>
              Besides linear equations, you must use at least one more type of
              function/graph (ex. parabolas, circles, ellipses, etc.).
            </li>
            <li>
              Be creative! Feel free to draw other objects on your graph. Desmos
              also has settings that let you change the color, thickness, and
              opacity of your graphs (among other options).
            </li>
          </ol>

          To see other examples, you can visit <a
            href="https://www.desmos.com/art"
            target="_blank"
            rel="noopener noreferrer">https://www.desmos.com/art</a
          > or look up "desmos art" on Google, YouTube, etc..

          <h3>Deadline</h3>

          <p>
            The deadline for this assignment is 10 PM on Thursday, July 17. Send
            the link to your Desmos graph to isaacyno [at] gmail [dot] com.
          </p>

          <h3>Grading</h3>

          <p>
            This assignment will be graded on effort and the complexity of your
            graph. If your grade is on the border, I will take into account
            whether or not you completed this assignment to determine your final
            grade in this class.
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
