---
const { path, alt = "" } = Astro.props;
---

<div>
  <img src={path} alt={alt} />
</div>

<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
  }
</style>
